﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Index API</h2>
    <br />
    <button class="btn btn-primary" onclick="window.location.href='@ViewBag.Link';">Login</button>
    <br />
    <span>or you can click/copy the link below</span>
    <br />
    <a href="@ViewBag.Link">@ViewBag.Link</a>
</div>