﻿@{
    ViewData["Title"] = "Refresh token";
}

@if (ViewBag.StatusCode == System.Net.HttpStatusCode.OK)
{
    <div class="text-center">
        <h3 class="display-4">Success</h3>
        <br />
        <p>@ViewBag.Response</p>
    </div>
    <div>
        <a href="@Url.Action("IndexUrl", "IndexUrl")">Back to index API</a>
    </div>
}
else
{
    <div class="text-center">
        <h3 class="display-4">Failed</h3>
        <br />
        <p>Refresh token failed.</p>
        <p>@ViewBag.Response</p>
    </div>
}


