﻿@model IndexingWeb2.Models.IndexResponse

@{
    ViewData["Title"] = "Index API";
}

<div class="card">
    <div class="card-header">
        <strong>SEND INDEX REQUEST</strong>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("IndexUrl", "IndexUrl", FormMethod.Post))
        {
            <label>Url:</label>
            <input class="mx-3 rounded" type="text" id="url" name="url" style="width:760px" value="@ViewBag.Url"/>
            <div style="float:right">
                <button class="btn btn-success" style="margin-right: 8px" type="submit" name="requestType" value="update"><span>UPDATE</span></button>
                <button class="btn btn-danger" style="margin-left: 8px; margin-right:44px" type="submit" name="requestType" value="delete"><span>DELETE</span></button>
            </div>
        }
        <br />
        <span style="float:right">If token expired, click <a href="@Url.Action("RefreshToken", "RefreshToken")">here</a> to refresh token.</span>
    </div>
    <div class="card-footer" style="height: 150px">
        <p><strong>REQUEST TYPE:</strong> @ViewBag.Type</p>
        <strong>RESPONSE:</strong>
        <p>@ViewBag.Response</p>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <strong>INDEXING REQUESTS LIST</strong>
    </div>
    <div class="card-body">
        <div class="card-header">
            Search:
            @using (Html.BeginForm("IndexUrl", "IndexUrl", FormMethod.Get))
            {
                <input type="text" name="txtSearch" class="w-25 rounded" />
                <button type="submit" class="mx-3 btn btn-secondary">Search</button>
            }
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th class ="col-sm-6">Url</th>
                    <th class ="col-sm-3">Notify time</th>
                    <th class ="col-sm-5"></th>
                </tr>
            </thead>
            <tbody>
                @using (Html.BeginForm("IndexUrl", "IndexUrl", FormMethod.Post))
                {
                    int i = 1;
                    @foreach (var item in ViewBag.Data)
                    {
                        if (item.Type == "URL_UPDATED")
                        {
                            <tr style="background-color:#d4fad9; text-align: center left;">
                                <td>@i</td>
                                <td><input type="text" name="url" hidden value="@item.Url" />@item.Url</td>
                                <td>@item.NotifyTime</td>
                                <td style="text-align:center; background-color:#fff">
                                    <button class="mx-2 btn btn-success" type="submit" name="requestType" value="update"><span>UPDATE</span></button>
                                    <button class="mx-2 btn btn-danger" type="submit" name="requestType" value="delete"><span>DELETE</span></button>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr style="background-color:#f5d7d5; text-align: center left;">
                                <td>@i</td>
                                <td><input type="text" name="url" hidden value="@item.Url" />@item.Url</td>
                                <td>@item.NotifyTime</td>
                                <td style="text-align:center; background-color:#fff">
                                    <button class="mx-2 btn btn-success" type="submit" name="requestType" value="update"><span>UPDATE</span></button>
                                    <button class="mx-2 btn btn-danger" type="submit" name="requestType" value="delete"><span>DELETE</span></button>
                                </td>
                            </tr>
                        }
                        i++;
                    }
                }
                
            </tbody>

        </table>
        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    @{
                        int position;
                        int pageCurrent = ViewBag.Page;
                        string txtSearch = ViewBag.txtSearch;
                        float totalPages = ViewBag.TotalPages;
                        if (pageCurrent > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("IndexUrl", "IndexUrl", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent-1 })" tabindex="-1">Previous</a>
                            </li>
                        }

                        for (position = 1; position <= totalPages; position++)
                        {

                            if (position == pageCurrent)
                            {
                                <li class="page-item active"><a class="page-link" href="@Url.Action("IndexUrl", "IndexUrl", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                            }

                            else
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("IndexUrl", "IndexUrl", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                            }

                        }
                        if (pageCurrent > 0 && pageCurrent < totalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("IndexUrl", "IndexUrl", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent+1 })" tabindex="-1">Next</a>
                            </li>
                        }

                    }

                </ul>
            </nav>
        </div>
    </div>
</div>


